%section#edit-project
  .page-header
    %h1 Edit project
  = form_for @project do |f|
    = render :partial => "form", :object => f
    .form-actions
      = f.submit "Update project", :class => "btn btn-primary"
      or
      = link_to "cancel", projects_path
