%section#edit-preference
  .page-header
    %h1 Edit preference
  = form_for @preference do |f|
    = render :partial => "form", :object => f
    .actions
      = f.submit "Update preference", :class => "btn primary"
      or
      = link_to "cancel", preferences_path
