%section#new-unit
  .page-header
    %h1 New unit
  = form_for @unit do |f|
    = render :partial => "form", :object => f
    .form-actions
      = f.submit "Add unit", :class => "btn btn-primary"
      or
      = link_to "cancel", units_path
